{% load static %}

<html>
    <head>
        <title>The List</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/bootstrap/css/custom.css' %}">

        <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        
    </head>
    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-dark bg-custom mb-3 sticky-top" style="background-color: #590404;">
            <div class="container-fluid">
                <a class="navbar-brand mb-0" href="{% url 'view_bottles' %}">My Inventory </a>
                <a href="{% url 'add_bottle' %}" style="color:white">
                    <i class="material-icons">add</i>
                </a>
    
            </div>

        </nav>

        <div class="container flex-grow-1">
            <div class="row">

                <!--Side Menu-->
                <div class = "col-3">
                    <ul class = "list-group">
                        {% block sidebar %}
                        <li class="list-group-item"><a href="{% url 'view_bottles' %}">View Bottles</a></li>
                        <li class="list-group-item"><a href="{% url 'view_supplier' %}">View Suppliers</a></li>
                        <li class="list-group-item"><a href="{% url 'add_bottle' %}">Add Bottle</a></li>
                        {% endblock %}
                    </ul>
                </div>

                <!--Main Content-->
                <div class = "col-9">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>  
        
        <footer class="footer bg-custom text-white text-center py-2 mt-auto" style="background-color: #590404; text-align:center; padding:10px;">
            &copy; 2020<!-- Copyright -->
          
        </footer>

    </body>
</html>
